.main {
  position: relative;
  min-height: 100vh;
  background-color: #042940;
}

.container {
  min-width: 90%;
  min-height: 80vh;
  padding: 1rem 6rem 0;

}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30%;
  margin-top: 2rem;
}

.item {
  width: 20%;
  height: 210px;
  border-radius: 50%;
  background-color: blue;
}


.code {
  font-weight: 700;
  font-size: 1.5em;
  font-family: var(--font-mono);
  text-align: center;
  margin-top: 8rem;
}

/* bolhas  */

.bolhas {
  position: absolute;
  display: flex;
}

.bolhas span {
  width: 30px;
  height: 30px;
  background: #e5ff00;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff00,
    0 0 100px #e5ff00;
  animation: animar 2s linear infinite;
}

.bolhas label {
  width: 30px;
  height: 30px;
  background: #e5ff00;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff00,
    0 0 100px #e5ff00;
  animation: animar 5s linear infinite;
}

.bolhas div {
  width: 30px;
  height: 30px;
  background: #e5ff00;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff00,
    0 0 100px #e5ff00;
  animation: animar 7s linear infinite;
}

.bolhas main {
  width: 30px;
  height: 30px;
  background: #e5ff00;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff00,
    0 0 100px #e5ff00;
  animation: animar 3s linear infinite;
}


@keyframes animar {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.bolhas span:nth-of-type(even) {
  background: #2dc3ff;
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}

.bolhas label:nth-of-type(even) {
  background: #2dc3ff;
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}

.bolhas div:nth-of-type(even) {
  background: #2dc3ff;
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}

.bolhas main:nth-of-type(even) {
  background: #2dc3ff;
  box-shadow: 0 0 0 10px #2dc3ff44,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}